@model ReservationApp.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
@*
    <h2>@ViewBag.Title.</h2>
    <h3>Associate your @ViewBag.LoginProvider account.</h3>
*@
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @*
        <h4>Association Form</h4>
        <hr />
    *@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <p class="col-md-6 col-lg-offset-1">
        @*
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
            Please enter the following information and click the Register button to finish
            logging in.
        *@
        Успешно се автентициравте со <strong>@ViewBag.LoginProvider</strong>. Ве молиме внесете
        ги следниве информации и претиснете на копчето "Продолжи" за да ја комплетирате најавата.
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    @Html.HiddenFor(m => m.Email)
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <label class="btn">
                @Html.RadioButtonFor(m => m.Gender, "false", new { @checked = "checked" })Машки
            </label>
            <label class="btn">
                @Html.RadioButtonFor(m => m.Gender, "true")Женски
            </label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datepicker" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Продолжи" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#DateOfBirth').attr('data-date-format', 'dd/mm/yyyy');
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>
}
