@model ReservationApp.Models.EventTicketsViewModel

@{
    ViewBag.Title = "Настани";
}

    <div class="event-details" style="width: 70%; margin-left: 15%; color: white; text-align: center;">
        <h1>@Html.DisplayFor(model => model.SelectedEvent.Name)</h1>
        <br />
        <div style="width: 45%; display: inline; float: left;">
            <table class="table table-responsive" style="font-size: 18px;">
                <tr>
                    <td class="table-title">Организатор</td>
                    <td>@Model.SelectedEvent.Organizator</td>
                </tr>
                <tr>
                    <td class="table-title">Цена на билет</td>
                    <td>@Model.SelectedEvent.Price</td>
                </tr>
                <tr>
                    <td class="table-title">Датум</td>
                    <td>@Model.SelectedEvent.EventDate.ToString().Split(' ')[0]</td>
                </tr>
                <tr>
                    <td class="table-title">Почеток</td>
                    <td>@Model.SelectedEvent.EventTime</td>
                </tr>
                <tr>
                    <td class="table-title">Преостанати карти</td>
                    <td>@(Model.SelectedEvent.MaxCapacity - Model.SelectedEvent.CurrentlyReserved)</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            @if (Model.SelectedEvent.EventDate > DateTime.Now)
            {
                <div>
                    @using (Html.BeginForm("Reserve", "Events"))
                    {
                        @Html.HiddenFor(model => model.SelectedEvent.Id)
                        <div>
                            @Html.TextBoxFor(model => model.NoOfTickets, new { @class = "form-control", @Value = "1", type = "number", min = "1", max = "6", style = "color: black; width: 70px; height: 44px; display: inline; text-align: center;" })
                            @Html.ValidationMessageFor(model => model.NoOfTickets)
                            <button type="submit" class="btn btn-success btn-lg">Резервирај!</button>
                        </div>
                    }
                </div>
            }
            <br />
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Промени", "Edit", new { id = Model.SelectedEvent.Id }, new { @class = "btn btn-primary" });
                <span>|</span>
                <button id="btnDelete" class="btn btn-danger">Избриши</button>
            }
        </div>
        <div style="display: inline;">
            <div>
                <img style="width: 45%; height: 320px" src="@Model.SelectedEvent.Image" />
            </div>
        </div>

        <br />

    </div>
<br />
<br />
@Html.ActionLink("Назад кон листата", "Index", new { }, new { @class = "btn btn-default", style = "margin: 10px;" })

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnDelete').on('click', function () {
                bootbox.confirm("Дали сте сигурен дека сакате да го избришете настанот?", function (result) {
                    if (result) {
                        $.post('/Events/Delete/' + @Model.SelectedEvent.Id, {}, function () {
                            window.location.href = '/Events'
                        });
                    }
                });
            });
        });
    </script>
}
