@model IEnumerable<ReservationApp.Models.Event>

@{
    ViewBag.Title = "Настани";
}

@if (User.IsInRole("Admin"))
{
    <button id="createBtn" style="margin-top: 20px; margin-left: 8%;" class="btn btn-lg btn-success">Креирај нов настан</button>
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>
        @Html.ActionLink("My Reservations", "MyReservations")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentlyReserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCapacity)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentlyReserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </table>*@

<div class="grid-two">
    @foreach (var e in Model)
    {
        <div class="Cube">
            <div>
                <img class="bak-img" src="@e.Image" />
            </div>
            <h3>@e.Name</h3>
            <p style="height: 102px; overflow: hidden; text-overflow: ellipsis;">
                @e.Description
            </p>
            <a class="btn btn-default" style="font-size: 15px; margin: 10px" href="/Events/Details/@e.Id">Види повеќе...</a>

        </div>
    }
    @*
        <div class="Cube">
            <div class="bak-img">

            </div>
            <h3>Radioheaed</h3>
            <p>
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
            </p>
            <a href="#"><p>View more ></p></a>

        </div>

        <div class="Cube">
            <div class="bak-img">

            </div>
            <h3>Radioheaed</h3>
            <p>
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
                ajnfaksjdnjasdnkjasndkjnaskdjaskjdnkajsdnkjasdnkjasdnkjasdnkjadsnkadsjn
            </p>
            <a href="#"><p>View more ></p></a>
        </div>

        <div class="Cube">
            <div class="bak-img">

            </div>
            <h3>Radioheaed</h3>
            <p>
                SnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDogg
                SnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDogg
                SnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDogg
                SnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDogg
                SnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDogg
                SnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDoggSnoopDogg

            </p>
            <a href="#"><p>View more ></p></a>
        </div>
    *@
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#createBtn").on("click", function () {
                window.location.href = "/Events/Create";
            });
        });
    </script>
}