@model IEnumerable<ReservationApp.Models.Reservation>

@{
    ViewBag.Title = "Резервации";
}
    <br />
    <div class="body-content my-reservation">
        <h2>Мои резервации</h2>
        <br />
        <div>
            <table id="restab" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Код")
                        </th>
                        <th>
                            @Html.DisplayName("Настан")
                        </th>
                        <th>
                            @Html.DisplayName("Број на карти")
                        </th>
                        <th>
                            @Html.DisplayName("Опции")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var res in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => res.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => res.Event.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => res.NoOfTickets)
                            </td>
                            <td>
                                @Html.ActionLink("Детали", "Details", new { id = res.Event.Id }, new { @class = "btn btn-primary" }) |
                                @if (res.Paid)
                                {
                                    <span style="color: lawngreen;">ПЛАТЕНА</span>
                                }
                                else if (res.Event.EventDate < DateTime.Now)
                                {
                                    <span style="color: red;">НЕПОДИГНАТА</span>
                                }
                                else
                                {
                                    <button res-id="@res.Id" class="btn btn-danger js-delete">Откажи</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
    
@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $("#restab").DataTable({
                "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "iDisplayLength": 5
            });
            $("#restab .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Дали сте сигурни дека сакате да ја откажете резервацијата?!", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Events/DeleteReservation/" + button.attr("res-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>    
}
